<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../css/main.css">
		<script src="../scripts/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://vuejs.org/js/vue.js"></script>
		<script src="../scripts/survey_en.js">
  		
  		</script>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Online test survey for Liquid</title> 
	</head>
	
	<body>
		<div id="app">
	    	<h1>{{ survey.title }}</h1>
  			<div align="center"><a class="homepage" href="../index.html">Go to Homepage</a></div>
			<div id="survey" v-for="(question, index) in survey.questions">
			
				<div v-show="index === questionIndex">
					<h3>{{ question.text }}</h3>
					<div v-if="questionIndex === 2">
						<input type="text" v-model="userResponses[2]" placeholder="Please enter your location:"> 
					</div>
					<div v-else-if="questionIndex === 4">
						<select v-model="question4" multiple>
							<option v-for="response in question.responses"> {{ response.text }} </option></select>
					</div>
					<div v-else-if="questionIndex === 5">
						<select v-model="question5" multiple>
							<option v-for="response in question.responses"> {{ response.text }} </option></select>
					</div>
					<div v-else>
				    	<ol>
							<li v-for="response in question.responses">
								<label>
									<input type="radio" v-bind:value="response" 
														v-bind:name="index" 
														v-model="userResponses[index]"> {{ response.text }}
								</label>
							</li>
						</ol>
					</div>
					<div id="container">
						<button id="left" v-if="questionIndex > 0" v-on:click="prev">Previous</button>
						<button id="right" v-on:click="next">Next</button>
					</div>
				</div>
			</div>
			<!-- Couldn't display text properly, when using userResponses.text - comes up with empty cell,
			when using userResponses[index].text, receive an error that userResponses[index] is undefined -->
			<div v-show="questionIndex === survey.questions.length">
    			<h2>Thank you for taking our survey!</h2>
    			<table>
	    			<tr v-for="(question, index) in survey.questions">
	    				<td>{{ question.text }}</td>
	    				<td v-if="index === 4">{{ question4 }}</td>
	    				<td v-else-if="index === 5">{{ question5 }}</td>
	    				<td v-else>{{ userResponses[index] }}</td>
	    			</tr>
	    			
	    		</table>
  			</div>
		</div>
		
		<footer>&copy; 2018 George Salukvadze for Project A and Liquid</footer>
	</body>
</html>